.navbar {
    padding: 1rem;
    background-color: #004d5a; 
    box-shadow: 0 2px 5px blue; 
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.6rem;
    color: white !important;
    cursor: pointer;
  }
  
  .navbar-nav .nav-link {
    color: #e0f7fa !important;
    margin-left: 1rem;
    transition: color 0.3s ease;
    cursor: pointer; /* 🖐 */
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: #ffffff !important;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  }
  